* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #FFF;
}
body {
  background: url(../images/bg.jpg) no-repeat top center;
}
header {
  position: relative;
  height: 1.49925rem;
  background: url(../images/head_bg.png) no-repeat;
  background-size: 100% 100%;
}
header h1 {
  color: #FFF;
  line-height: 1rem;
  text-align: center;
}
header .showTime {
  position: absolute;
  top: 0.869565rem;
  right: 0.149925rem;
  color: #FFF;
  line-height: 0.5rem;
}
.mainbox {
  padding: 0.149925rem 0.149925rem 0;
  display: flex;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 0.149925rem 0.149925rem;
}
.mainbox .pannel {
  margin-bottom: 10px;
  color: #FFF;
  text-align: center;
  position: relative;
  border: 1px solid rgba(25, 186, 139, 0.17);
  height: 4.1rem;
  background: url(../images/line.png);
}
.mainbox .pannel::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.mainbox .pannel::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.mainbox .pannel .panel-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.mainbox .pannel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.mainbox .pannel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.mainbox .pannel h2 {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 20px;
  font-weight: 400;
}
.mainbox .pannel .chart {
  height: 3.4rem;
}
.mainbox .no {
  color: #FFF;
  background: rgba(101, 132, 226, 0.1);
  padding: 0.224888rem;
}
.mainbox .no .no-hd {
  border: 1px solid rgba(25, 186, 139, 0.17);
  position: relative;
}
.mainbox .no .no-hd::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 10px;
  border-top: 1px solid #02a6b5;
  border-left: 1px solid #02a6b5;
}
.mainbox .no .no-hd::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 20px;
  height: 10px;
  border-bottom: 1px solid #02a6b5;
  border-right: 1px solid #02a6b5;
}
.mainbox .no .no-hd ul {
  display: flex;
}
.mainbox .no .no-hd ul li {
  flex: 1;
  position: relative;
  list-style: none;
  text-align: center;
  line-height: 1rem;
  font-size: 0.29985rem;
  color: #ffeb7b;
}
.mainbox .no .no-hd ul li:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 50%;
  background: rgba(255, 255, 255, 0.2);
  right: 0;
  top: 25%;
}
.mainbox .no .no-bd ul {
  display: flex;
}
.mainbox .no .no-bd ul li {
  flex: 1;
  position: relative;
  list-style: none;
  text-align: center;
  line-height: 0.7rem;
  font-size: 0.29985rem;
  color: white;
}
.mainbox .map {
  position: relative;
  height: 9.5rem;
}
.mainbox .map .map1 {
  width: 6.475rem;
  height: 6.475rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/map.png);
  background-size: 100% 100%;
  opacity: 0.3;
}
.mainbox .map .map2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.0375rem;
  height: 8.0375rem;
  background: url(../images/lbx.png);
  animation: rotate1 15s linear infinite;
  opacity: 0.6;
  background-size: 100% 100%;
}
.mainbox .map .map3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.075rem;
  height: 7.075rem;
  background: url(../images/jt.png);
  animation: rotate2 10s linear infinite;
  opacity: 0.6;
  background-size: 100% 100%;
}
@keyframes rotate1 {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.mainbox .map .chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.5rem;
}
